:root {
	--background-opacity: 0.9;
	--app-background-color: #e0e0e0;
	--app-light-color: #fff;
	--app-dark-color: black;
	--app-transparent-color: rgba(0, 0, 0, 0);
}

a {
  color: var(--app-light-color);
}

.App {
  background-color: var(--app-background-color);
}

html, body {
	height: 100%;
	margin: 0;
	background-color: var(--app-background-color);
  }